docs/erm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:element name="diagram" type="DiagramType"/>

  <xs:complexType name="DiagramType">
    <xs:sequence>
      <xs:element name="presenter" type="xs:string"/>
      <xs:element name="page_settings" type="PageSettingsType"/>
      <xs:element name="color" type="ColorType" minOccurs="0"/>
      <xs:element name="font_name" type="xs:string" minOccurs="0"/>
      <xs:element name="font_size" type="xs:integer" minOccurs="0"/>
      <xs:element name="diagram_settings" type="DiagramSettingsType"/>
      <xs:element name="tablespace_set" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:element name="diagram_walkers" type="DiagramWalkersType"/>
      <xs:element name="vdiagrams" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:element name="column_groups" type="ColumnGroupsType" minOccurs="0"/>
      <xs:element name="sequence_set" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:element name="trigger_set" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PageSettingsType">
    <xs:sequence>
      <xs:element name="direction_horizontal" type="xs:boolean"/>
      <xs:element name="scale" type="xs:integer"/>
      <xs:element name="paper_size" type="xs:string"/>
      <xs:element name="top_margin" type="xs:integer"/>
      <xs:element name="left_margin" type="xs:integer"/>
      <xs:element name="bottom_margin" type="xs:integer"/>
      <xs:element name="right_margin" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiagramSettingsType">
    <xs:sequence>
      <xs:element name="database" type="xs:string"/>
      <xs:element name="capital" type="xs:boolean"/>
      <xs:element name="table_style" type="xs:string" minOccurs="0"/>
      <xs:element name="notation" type="xs:string" minOccurs="0"/>
      <xs:element name="notation_level" type="xs:integer"/>
      <xs:element name="notation_expand_group" type="xs:boolean"/>
      <xs:element name="view_mode" type="xs:integer"/>
      <xs:element name="outline_view_mode" type="xs:integer"/>
      <xs:element name="view_order_by" type="xs:integer"/>
      <xs:element name="auto_ime_change" type="xs:boolean"/>
      <xs:element name="validate_physical_name" type="xs:boolean"/>
      <xs:element name="use_bezier_curve" type="xs:boolean"/>
      <xs:element name="suspend_validator" type="xs:boolean"/>
      <xs:element name="titleFontEm" type="xs:decimal" minOccurs="0"/>
      <xs:element name="masterDataBasePath" type="xs:string" minOccurs="0"/>
      <xs:element name="use_view_object" type="xs:boolean"/>
      <xs:element name="export_settings" type="ExportSettingsType"/>
      <xs:element name="category_settings" type="CategorySettingsType"/>
      <xs:element name="model_properties" type="ModelPropertiesType"/>
      <xs:element name="table_properties" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:element name="environment_settings" type="EnvironmentSettingsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExportSettingsType">
    <xs:sequence>
      <xs:element name="category_name_to_export" type="xs:string"/>
      <xs:element name="ddl_output" type="xs:string"/>
      <xs:element name="excel_output" type="xs:string" minOccurs="0"/>
      <xs:element name="excel_template" type="xs:string" minOccurs="0"/>
      <xs:element name="image_output" type="xs:string" minOccurs="0"/>
      <xs:element name="put_diagram_on_excel" type="xs:boolean"/>
      <xs:element name="use_logical_name_as_sheet" type="xs:boolean"/>
      <xs:element name="open_after_saved" type="xs:boolean"/>
      <xs:element name="create_comment" type="xs:boolean"/>
      <xs:element name="create_foreignKey" type="xs:boolean"/>
      <xs:element name="create_index" type="xs:boolean"/>
      <xs:element name="create_sequence" type="xs:boolean"/>
      <xs:element name="create_table" type="xs:boolean"/>
      <xs:element name="create_tablespace" type="xs:boolean"/>
      <xs:element name="create_trigger" type="xs:boolean"/>
      <xs:element name="create_view" type="xs:boolean"/>
      <xs:element name="drop_index" type="xs:boolean"/>
      <xs:element name="drop_sequence" type="xs:boolean"/>
      <xs:element name="drop_table" type="xs:boolean"/>
      <xs:element name="drop_tablespace" type="xs:boolean"/>
      <xs:element name="drop_trigger" type="xs:boolean"/>
      <xs:element name="drop_view" type="xs:boolean"/>
      <xs:element name="inline_column_comment" type="xs:boolean"/>
      <xs:element name="inline_table_comment" type="xs:boolean"/>
      <xs:element name="comment_value_description" type="xs:boolean"/>
      <xs:element name="comment_value_logical_name" type="xs:boolean"/>
      <xs:element name="comment_value_logical_name_description" type="xs:boolean"/>
      <xs:element name="comment_replace_line_feed" type="xs:boolean"/>
      <xs:element name="comment_replace_string" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CategorySettingsType">
    <xs:sequence>
      <xs:element name="free_layout" type="xs:boolean"/>
      <xs:element name="show_referred_tables" type="xs:boolean"/>
      <xs:element name="categories" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ModelPropertiesType">
    <xs:sequence>
      <xs:element name="font_name" type="xs:string" minOccurs="0"/>
      <xs:element name="font_size" type="xs:integer" minOccurs="0"/>
      <xs:element name="x" type="xs:integer" minOccurs="0"/>
      <xs:element name="y" type="xs:integer" minOccurs="0"/>
      <xs:element name="color" type="ColorType" minOccurs="0"/>
      <xs:element name="connections" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:element name="display" type="xs:boolean" minOccurs="0"/>
      <xs:element name="model_property" type="KeyValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnvironmentSettingsType">
    <xs:sequence>
      <xs:element name="environment" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiagramWalkersType">
    <xs:sequence>
      <xs:element name="table" type="TableType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableType">
    <xs:sequence>
      <xs:element name="physical_name" type="xs:string"/>
      <xs:element name="logical_name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="font_name" type="xs:string" minOccurs="0"/>
      <xs:element name="font_size" type="xs:integer" minOccurs="0"/>
      <xs:element name="x" type="xs:integer" minOccurs="0"/>
      <xs:element name="y" type="xs:integer" minOccurs="0"/>
      <xs:element name="color" type="ColorType" minOccurs="0"/>
      <xs:element name="connections" type="RelationshipsType" minOccurs="0"/>
      <xs:element name="columns" type="ColumnsType"/>
      <xs:element name="indexes" type="IndexesType" minOccurs="0"/>
      <xs:element name="compound_unique_key_list" type="CompoundUniqueKeysType" minOccurs="0"/>
      <xs:element name="table_properties" minOccurs="0">
        <xs:complexType><xs:sequence/></xs:complexType>
      </xs:element>
      <xs:attribute name="height" type="xs:integer" use="optional"/>
      <xs:attribute name="width" type="xs:integer" use="optional"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColumnsType">
    <xs:sequence>
      <xs:element name="normal_column" type="ColumnType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="column_group" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColumnType">
    <xs:sequence>
      <xs:element name="physical_name" type="xs:string"/>
      <xs:element name="logical_name" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="length" type="xs:integer" minOccurs="0"/>
      <xs:element name="decimal" type="xs:integer" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="referred_column" type="xs:string" minOccurs="0"/>
      <xs:element name="relationship" type="xs:string" minOccurs="0"/>
      <xs:element name="not_null" type="xs:boolean" minOccurs="0"/>
      <xs:element name="primary_key" type="xs:boolean" minOccurs="0"/>
      <xs:element name="auto_increment" type="xs:boolean" minOccurs="0"/>
      <xs:element name="unique_key" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelationshipsType">
    <xs:sequence>
      <xs:element name="relationship" type="RelationshipType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelationshipType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="target" type="xs:string"/>
      <xs:element name="bendpoint" type="BendpointType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="fk_columns" type="FkColumnsType"/>
      <xs:element name="parent_cardinality" type="xs:string"/>
      <xs:element name="child_cardinality" type="xs:string"/>
      <xs:element name="reference_for_pk" type="xs:boolean"/>
      <xs:element name="on_delete_action" type="xs:string" minOccurs="0"/>
      <xs:element name="on_update_action" type="xs:string" minOccurs="0"/>
      <xs:element name="source_xp" type="xs:integer" minOccurs="0"/>
      <xs:element name="source_yp" type="xs:integer" minOccurs="0"/>
      <xs:element name="target_xp" type="xs:integer" minOccurs="0"/>
      <xs:element name="target_yp" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BendpointType">
    <xs:sequence>
      <xs:element name="relative" type="xs:boolean"/>
      <xs:element name="x" type="xs:integer"/>
      <xs:element name="y" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FkColumnsType">
    <xs:sequence>
      <xs:element name="fk_column" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fk_column_name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndexesType">
    <xs:sequence>
      <xs:element name="index" minOccurs="0" maxOccurs="unbounded" type="IndexType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndexType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="non_unique" type="xs:boolean"/>
      <xs:element name="columns" type="IndexColumnsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndexColumnsType">
    <xs:sequence>
      <xs:element name="column" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="column_id" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompoundUniqueKeysType">
    <xs:sequence>
      <xs:element name="compound_unique_key" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="columns" type="IndexColumnsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColumnGroupsType">
    <xs:sequence>
      <xs:element name="column_group" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="column_group_name" type="xs:string"/>
            <xs:element name="columns" type="ColumnGroupColumnsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColumnGroupColumnsType">
    <xs:sequence>
      <xs:element name="normal_column" type="ColumnType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeyValueType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorType">
    <xs:sequence>
      <xs:element name="r" type="xs:integer"/>
      <xs:element name="g" type="xs:integer"/>
      <xs:element name="b" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
